//color
$color-dark-purple: #200b3c8c;
$color-light-dark-purple: #734db998;
$color-gray-dark: #777;
$color-white: #fff;
$color-gold: #c7b96ddc;
$color-black: #333;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-primary: #55c57a;
$color-primary-dark: #28b485;

$color-gray-dark-2: #eee;

$color-gray-light-1: #f7f7f7;

$color-gray-light-2: #888888;

//font 
$defoult-font-size: 1.6rem;

//grid
$grid-width: 100rem;
$grid-verticals: 8rem;
$grid-horigontal: 6rem;