.navigation{

    &_checkbox{
        display: none;
    }
    &_background{
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        background: radial-gradient($color-tertiary-dark,$color-light-dark-purple);
        z-index: 1000;
        transition: transform .8s cubic-bezier(0.86,0,0.07,1);

        //transform: scale(80);
    }
    &_button{
        width: 7rem;
        height: 7rem;
        border-radius: 50%;
        position: fixed;
        top: 6rem;
        right: 6rem;
        background: $color-white;
        z-index: 2000;
        cursor: pointer;
        text-align: center;
    }
    &_nav{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 1500;
        opacity: 0;
        width: 0;
        transition: all .8s cubic-bezier(0.68,-0.55,0.265,1.55);
    }
    &_list{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        list-style: none;
        text-align: center;
    }
    &_item{
        margin: 1rem;
    }
    &_link{
        &:link,
        &:visited{
            text-decoration: none;
            color: $color-white;
            text-transform: uppercase;
            font-size: 3rem;
            font-weight: 300;
            display: inline-block;
            padding: 1rem 2rem;
            background: linear-gradient(120deg,transparent 0%,transparent 50%,$color-white 50%);
            background-size: 225%;
            transition: all .5s;

            span{
                display: inline-block;
                margin-right: 1.5rem;
            }
        }

        &:hover,
        &:active{
            background-position: 100%;
            color: $color-tertiary-dark;
            transform: translateX(1rem);
        }
    }

    //functionality

    &_checkbox:checked ~ &_background{
        transform: scale(80);
    }
    &_checkbox:checked ~ &_nav{
        opacity: 1;
        width: 100%;
    }

    &_icon{
        position: relative;
        margin-top: 3.5rem;
        &,
        &::after,
        &::before{
            width: 3rem;
            height: 2px;
            display: inline-block;
            background: $color-black;
        }
        &::after,
        &::before{
            content: '';
            position: absolute;
            left: 0;
            transition: all .2s;
        }
        &::after{ top: -.8rem;}
        &::before{ top: .8rem;}
    }

    &_button:hover &_icon::after{
        top: -1rem;
    }
    &_button:hover &_icon::before{
        top: 1rem;
    }

    &_checkbox:checked + &_button &_icon{
        background: transparent;
    }
    &_checkbox:checked + &_button &_icon::after{
        transform: rotate(135deg);
        top: 0;
    }
    &_checkbox:checked + &_button &_icon::before{
        transform: rotate(-135deg);
        top: 0;
    }
}