.story{
    padding: 6rem;
    padding-left: 9rem;
    margin: 0 auto;
    background: rgba($color-white,.8);
    border-radius: 3px;
    box-shadow: 0 3rem 6rem rgba($color-black,.1);
    font-size: $defoult-font-size;
    width: 75%;
    transform: skewX(-12deg);

    &_shap{
        width: 15rem;
        height: 15rem;
        // background: orangered;
        float: left;
        shape-outside: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        transform: translateX(-3rem) skewX(13deg);
    }
    &-img{
        height: 100%;
        width: 100%;
        transform: scale(1.4) translateX(2rem);
        background-position: center;
        backface-visibility: hidden;
        transition: all .5s;
    }
    &_caption{
        text-transform: uppercase;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        color: white;
        font-size: 1.7rem;
        text-align: center;
        opacity: 0;
        backface-visibility: hidden;
        transition: all .5s;
    }
    &:hover &_caption{
        opacity: 1;
        transform: translate(-50%, -50%);
    }
    &:hover &-img{
        transform: scale(1);
        filter: blur(3px) brightness(80%);
    }
    &_text{
        transform: skewX(12deg);
    }
}